.player {
    display: flex;
    align-items: center;
    background-color:rgba(165, 42, 42, 0.507);
    width: 300px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;

    >span {
        font-size: 32px;
        margin-left: 16px;
        color: whitesmoke;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    >img {
        width: 70px;
        height: 70px;
        margin-left: 5px;
        object-fit: cover;
        border-radius: 100%;
    }
}

.player-active {
    background-color: #FFB300;
    
    >span {
        color: black;
    }
}

@media (max-width: 860px) {
    .player-active {
        display: flex;
    }

    .player-unactive {
        display: none;
    }
}