.game-field {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    background-image: url('/assets/img/board.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-stack {
    position: relative;
    width: 120px;

    >img {
        cursor: pointer;
        position: absolute;
        width: 120px;
    }
}

.top-card {
    transition: all 125ms ease-in-out;
    transform: scale(1) rotate(0deg);

    &:not(.disable-hover):hover {
        transform: rotate(-3deg);
    }
}

.pick-card {
    animation:
        pick-card-show 0.5s ease-in-out forwards,
        put-card-aside 1s ease-in-out forwards 0.5s; /* start after the first */
    z-index: 2;
}

@keyframes pick-card-show {
    0% {transform: scale(1.0) rotate(-3deg)}
    100% {transform: scale(1.25) rotate(0deg)}
}

@keyframes put-card-aside {
    0% { transform: scale(1.25) rotate(0deg) translateX(0px) translateY(0px)}
    100% { transform: scale(1.0) rotate(6deg) translateX(40px) translateY(-200px)}
}

.played-card {
    transform: scale(1.0) rotate(6deg) translateX(40px) translateY(-200px)
}

.no-click {
    pointer-events: none;

    &:hover { 
        cursor: not-allowed; 
    }
 }