.info-card {
    position: absolute;
    bottom: 110px;
    left: 10%;
    right: 14%;
    text-align: center;
}

.d-none {
    display: none;
}

@media (max-height: 700px) {
    .info-card {
        font-size: smaller;
        bottom: 70px;
    }
}